<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sql" connectionString ="Data Source=.\SQL2012;Initial Catalog=PAMSystem;User Id=sa;Password=111111"/>
  </connectionStrings>
<!-- 为密码加盐-->
<appSettings>
  <add key="passwordSalt" value="?Wteam@111"/>
  <add key="aaa" value="333"/>
</appSettings>
</configuration>